[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "httpx>=0.28.1",
    "piexif>=1.1.3",
    "Pillow>=12.0.0",
    "pydantic>=2.12.3",
    "tqdm>=4.67.1",
    "timezonefinder",
    "pytz"
]
